@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
    cursor: default;
}

body{
    background: #1d1d1d;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

nav{
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: black;
}

nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
}

nav .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

#book:hover{
    transform: scale(1.1);

    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);

    transition: all ease-in-out 0.5s;
    
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

nav ul li a:hover{
    background: #fff;
    color: #000000;
    transition: all 0.3s ease-in-out;
}
.main{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    padding: 90px;
    margin-top: 80px;

    font-size: 20px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    padding: 90px;
    margin-top: 80px;
}

header h1{
    color: #FFFFFF;
    font-size: 7.5vh;
    z-index: 9;
}

header p{
    font-size: 20px;
    margin-bottom: 2em;
}
img{
  /*  width: 500px;
    height: 300px;
    padding: 10px;

    border-radius: 20px;
*/

    
    
  width: 350px;
  height: 300px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 20px;
  padding: 5px;
    
}
li{
    list-style-type: none;

    font-size: 19px;
}
h1:hover{
   transform: scale(1.1);
   transition: 0.5s all ease-in-out;
}
h2:hover{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
 }
 h3:hover{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
 }
 
header{
    background-color: #323232;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    
}
#af{
    background-color: #323232;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    padding: 15px;
}
#cai{
    background-color: #323232;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    padding: 15px;
}

#id{
    background-color: #323232;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    padding: 15px;
}

#idcai{
    background-color: #323232;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

footer{
    position: relative;
    width: 100%;
    background: #323232;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer .social_icon, footer .menu2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu2 li{
    list-style: none;

}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu2 li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer.menu2 li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}.etec{
    width: 80px;
    height: 50px;
    border-radius: 0px;

}
.capivara{
    width: 600px;
    height: 300px;
}
#link{
    text-decoration: underline purple;
    color: purple;
}